body {
    margin: 15px;
    font-family: sans-serif;
    background-color: white;
}

.main {
    display: flex;
    gap: 15px;
}

.settings {
    min-width: 300px;
    background-color: #ec1f24;
    border-style: solid;
    border-color: #ce0001;
    border-width: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.slidertext {
    color: #fde50f;
    font-weight: bold;
    -webkit-text-stroke: 0.5px #ec2223;
    margin: 5px;
    padding: 0;
}

.slidercontainer {
    width: 100%; /* Width of the outside container */
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #f1a1a1;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #fde50f; /* Green background */
    cursor: grabbing; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 50px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #fde50f; /* Green background */
    cursor: grabbing; /* Cursor on hover */
}

.buttons {
    width: 100%;
    height: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

#colorpicker {
    width: 100%;
    height: 40px;
}

.buttons button {
    width: 100%;
    height: 40px;
}

.etch-a-sketch {
    background-color: #ec1f24;
    border-style: solid;
    border-color: #ce0001;
    border-width: 15px;
    border-radius: 15px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header img {
    width: 200px;
    height: auto;
}

h1 {
    color: #fde50f;
    font-style: italic;
    -webkit-text-stroke: 1px #ec2223;
}

.grid {
    padding: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: black;
}

.pixelRow {
    display: flex;
    align-items: stretch;
}

.pixel {
    background-color: white;
    margin: 0.5px;
}

.pixel:hover {
    background-color: #f1a1a1;
}

.knobs {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.knobs img {
    width: 100px;
    height: auto;
    margin: 25px;
}

.footer {
    color: #fde50f;
    font-weight: bold;
    -webkit-text-stroke: 0.5px #ec2223;
    align-self: flex-end;
}

.footer a {
    color: #fde50f;
    text-decoration: none;
}